body {
 color: lemonchiffon;
 background-color: darkslateblue;
 display: inline;
 font-family: 'Press Start 2P', cursive;
 text-align: center;
}

body h1 {
 color: coral;
 text-decoration: underline;
}

#hud {
 display: inline;
 font-size: .5em;
 width: 100%;
}

#health, #points {
 color: mediumspringgreen;
}


#math p {
 display: inline;
 font-size: 1em;
}

#submit {
 background: black;
 border: 0 none;
 color: mediumspringgreen;
}
